body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.site-navigation,
.user-navigation,
.sub-menu,
.button-slider,
.banners-list,
.hits-list {
  list-style: none;
}

.site-navigation a {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.site-navigation a:active {
  color: #323232;

  background-color: #f8f7f4;
}

.sub-menu {
  background-color: #f8f7f4;
}

.sub-menu a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.sub-menu a:hover,
.sub-menu a:focus {
  background-color: #fbded7;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

.sub-menu b {
  font-weight: 700;
}

.user-navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.worktime span {
  font-size: 22px;
  line-height: 24px;
}

.slide {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

.button {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-image: linear-gradient(#f26843, #e74a35);
  border: none;
}

.button:hover,
.button:focus {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(#f26843, #e74a35);
}

.button:active {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(#e74a35, #f26843);
}

.banners-item h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.banners-item p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.banner-item-rasb {
  background-color: #9d1934;
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.banner-item-choc {
  background-color: #43271a;
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hits-item a {
  color: #ffffff;
}

.hits-item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.hits-item-price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.hits-item-price span {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.about-us {
  color: #323232;

  background-color: #ece0c6;
  background-image: url("../img/waffle-pattern.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-us b {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about-us-list {
  list-style: none;
}

.about-us-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.new-post {
  color: #323232;

  background-color: #ffffff;
}

.new-post p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.new-post a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.subscribe {
  color: #5a5a5a;

  background-color: #f8f7f4;
}

.subscribe-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.user-subscribe {
  font: inherit;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback-form {
  background-color: #fefefe;
}

.feedback-form {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.feedback-form-address b {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.feedback-form-tel b {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.main-footer {
  color: #ffffff;
  font-weight: 400;
  line-height: 18px;
}

.main-footer a {
  font-size: 13px;
  color: #ffffff;
}

.footer-info {
  list-style: none;
}

.footer-info b {
  font-weight: 700;
}

.footer-copyright p{
  font-size: 12px;
}



