
body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  min-width: 940px;

  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.4s ease, background-color 0.5s ease;

  -o-transition: background-image 0.4s ease, background-color 0.5s ease;

  transition: background-image 0.4s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.body-container {
  min-width: 900px;
  margin: 0 auto;
}

/* ----- HEADER ----- */

.main-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
}

.main-header {
  border-top: 1px solid transparent;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

.main-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ----- Site-navigation ----- */

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 675px;
}

.site-navigation a {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  vertical-align: top;

  margin-top: 14px;
  padding: 7px 14px;
  border-radius: 25px;

  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.site-navigation a:active {
  color: #323232;

  background-color: #f8f7f4;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
          box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}

.site-navigation li {
  position: relative;
}

.site-navigation-current>a {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  background-color: #d07058;
  border-radius: 25px;
  text-decoration: none;
}

.site-navigation-current a:hover,
.site-navigation-current a:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.site-navigation-current a:active {
  color: #323232;
  background-color: #f8f7f4;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
          box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}

/* ----- Sub-menu ----- */

.sub-menu {
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 52px;
  left: -6px;
  z-index: 1;
  min-width: 143px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.site-navigation > li:hover .sub-menu {
  display: block;
}

.sub-menu a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  margin: 0;
  padding: 0;

  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 6px;
  padding-bottom: 6px;

  padding-left: 20px;
  padding-right: 21px;
  border-radius: 0;
  text-decoration: none;
}

.sub-menu a:hover,
.sub-menu a:focus {
  background-color: #fbded7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

.sub-menu b {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.underline::after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 2px;
  margin: 0 9px 0 6px;

  background-color: rgba(53, 53, 53, 0.2);
}


/* ----- User-navigation ----- */

.user-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-top: -9px;
  max-width: 290px;
}

.user-navigation a {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  vertical-align: top;

  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 10px;


  padding: 8px 16px;
  border-radius: 25px;
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active {
  color: #323232;

  background-color: #f7f6f3;
}

.user-navigation .search-link {
  position: relative;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-top: 3px;
  padding: 0;


  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation .search-link::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 9px;

  width: 17px;
  height: 17px;

  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .search-link:hover::before,
.user-navigation .search-link:active::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 9px;

  width: 17px;
  height: 17px;

  background-image: url("../img/loupe-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .enter-link {
  position: relative;
  padding-left: 45px;
}

.user-navigation .enter-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 17px;

  width: 21px;
  height: 19px;
  margin-left: 0px;

  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .enter-link:hover::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 17px;

  width: 21px;
  height: 19px;
  margin-left: 0px;

  background-image: url("../img/entrance-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .basket-link {
  position: relative;
  padding-left: 45px;
}

.user-navigation .basket-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;
  margin-left: 0px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .basket-link:hover::before,
.user-navigation .basket-link:active::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;
  margin-left: 0px;

  background-image: url("../img/basket-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .basket-full::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;
  margin-left: 0px;

  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .basket-full {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation .basket-full:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation .basket-full:hover::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;
  margin-left: 0px;

  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation>li:hover .modal-search {
  display: block;
}

/* ----- Worktime ----- */

.worktime {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  margin: 0;
  padding: 0;
  text-align: right;
  margin-right: -1px;
  margin-top: -4px;
}

.worktime span {
  font-size: 22px;
  line-height: 31px;
  color: #ffffff;
}


/* ----- MAIN ----- */

.slider {
  position: relative;
  margin-bottom: 40px;
  padding-top: 321px;
  min-height: 166px;

  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-list {
  color: #ffffff;
  text-align: center;

  margin: 0 27px;
}

.slider-list p {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;

  margin: 0 auto;
  margin-top: -49px;
  margin-bottom: 30px;
  width: 675px;
  min-height: 116px;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 379px;
  z-index: 2;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:hover ~ .site-wrapper label[for="product-1"],
#product-2:hover ~ .site-wrapper label[for="product-2"],
#product-3:hover ~ .site-wrapper label[for="product-3"] {
  background-color: rgba(255, 255, 255, 0.4);
}

/* ----- Buttons----- */

.button {
  display: inline-block;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;

  background-image:
    -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));

  background-image:
    -webkit-linear-gradient(top, #f26843, #e74a35);

  background-image:
    -o-linear-gradient(top, #f26843, #e74a35);

  background-image:
    linear-gradient(to bottom, #f26843, #e74a35);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-image:
    -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))),
    -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image:
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    -webkit-linear-gradient(top, #f26843, #e74a35);
  background-image:
    -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    -o-linear-gradient(top, #f26843, #e74a35);
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to bottom, #f26843, #e74a35);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.button:active {
  background-image:
    -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))),
    -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image:
    -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    -webkit-linear-gradient(top, #e74a35, #f26843);
  background-image:
    -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    -o-linear-gradient(top, #e74a35, #f26843);
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(to bottom, #e74a35, #f26843);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
          box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.big-button {
  padding: 8px 40px;
  padding-bottom: 13px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  border-radius: 35px;
}

.small-button {
  padding: 9px 23px;
  padding-bottom: 12px;
  border-radius: 25px;
}

/* ----- Banners section----- */

.banners {
  margin: 0 27px;
  margin-bottom: 33px;
}

.banners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;

  margin: 0;
  padding: 0;
}

.banners-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 560px;
  min-height: 229px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;


}

.banners-item h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  margin-left: 19px;
  margin-right: 19px;
  margin-top: 16px;
}

.banners-item p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 19px;
  margin-right: 19px;
  margin-top: -20px;
}

.banner-item-rasb {
  background-color: #9d1934;
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: repeat-y;
  background-position: 0 0;
  border-radius: 15px;
}

.banner-item-choc {
  background-color: #43271a;
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: repeat-y;
  background-position: 0 0;
  border-radius: 15px;
}

.banners-item a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 27px;
  margin-right: 20px;
  margin-bottom: 23px;
}


/* ----- Hits-item section----- */
.hits {
  margin: 0 18px;
  margin-bottom: 18px;
}

.hits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0;
  padding: 0;

}

.hits-item {
  position: relative;
  width: 267px;
  min-height: 342px;
  padding: 7px 9px 0px 9px;
}

.hits-item:nth-child(4n) {
  margin-right: 0;
}

.hits-item a {
  color: #ffffff;
}

.hits-item a::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 9px;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hits-item img {
  border-radius: 50%;
}

.hits-item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);

  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 20px;
}

.hits-item-price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;

  margin: 0;
  padding: 0;
  margin-top: -63px;
}

.hits-item-price span {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.hits-item-price .rublsign {
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;

  margin-left: -7px;
}

.hits-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}


/* ----- About-us section----- */

.about-us {
  color: #323232;
  margin: 0 27px;
  margin-bottom: 38px;
  min-height: 306px;
  border-radius: 15px;
  border-top: 1px solid transparent;

  background-color: #ece0c6;
  background-image: url("../img/waffle-pattern.jpg");
  background-repeat: repeat-x;
  background-position: 0 0;
}
.about-us p {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 19px;
  margin-bottom: 20px
}

.about-us b {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about-us-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;

  margin: 0;
  padding: 0;

}

.about-us-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  width: 560px;
  padding-left: 75px;
  margin-bottom: 22px;

}

.about-us-item:nth-child(2n) {
  padding-left: 83px;
}

.about-us-item:nth-child(1)::before {
  content: "";

  position: absolute;
  top: -13px;
  left: 21px;

  width: 49px;
  height: 49px;

  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-us-item:nth-child(2)::before {
  content: "";

  position: absolute;
  top: -13px;
  left: 25px;

  width: 49px;
  height: 49px;

  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-us-item:nth-child(3)::before {
  content: "";

  position: absolute;
  top: -13px;
  left: 21px;

  width: 49px;
  height: 49px;

  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-us-item:nth-child(4)::before {
  content: "";

  position: absolute;
  top: -13px;
  left: 25px;

  width: 49px;
  height: 49px;

  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


/* ----- New-post article----- */
.new-post-subscribe-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0 27px;
  margin-bottom: 40px;

}

.new-post {
  color: #323232;
  width: 560px;
  min-height: 220px;

  border-radius: 15px;
  background-color: #ffffff;
}

.new-post img {
  border-radius: 15px;
}

.new-post p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  margin-top: -200px;
  margin-left: 20px;
  margin-right: 19px;
}

.new-post a {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
  vertical-align: top;

  width: 290px;
  margin-left: 20px;
  margin-right: 19px;
  margin-bottom: 20px;
  margin-top: -13px;
}

/* ----- Subscribe section----- */

.subscribe-wrapper {
  width: 560px;
  min-height: 220px;
  border-radius: 15px;

  background-image: url("../img/bg-post.svg");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 38px 38px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #5a5a5a;

  margin: 5px;
  min-height: 210px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscribe-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  margin-top: 29px;
  margin-left: 21px;
  margin-right: 19px;
  margin-bottom: 36px;
}

.subscribe-form p {
  margin: 0;
  padding: 0;
}

.user-subscribe {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  width: 368px;
  height: 44px;

  margin-left: 20px;
  padding-left: 15px;


  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.user-subscribe:hover,
.user-subscribe:hover {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
          box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.user-subscribe:focus,
.user-subscribe:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
}

.subscribe-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -45px;
  margin-right: 20px;
  margin-bottom: 23px;
  padding: 10px 18px;
}

/* ----- Feedback-form section ----- */

.map {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.map img {
  display: block;
}

.feedback-form {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  position: absolute;
  top: 62px;
  right: 27px;
  width: 302px;
  min-height: 305px;
  background-color: #ffffff;
  margin-left: 871px;
  margin-top: 0px;
  border-radius: 15px;
  padding: 25px;
}

.feedback-form-address {
  margin: 0;
  padding: 0;
  margin-top: 4px;
}

.feedback-form-address b {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;

  padding-top: 2px;
}

.feedback-form-tel {
  margin: 0;
  padding: 0;
  margin-top: 17px;
}

.feedback-form-tel b {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  vertical-align: top;
  color: #323232;

  margin-bottom: 2px;
  padding-top: 6px;
}

.feedback-form-tel span {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;

}

.feedback-button {
  display: block;
  margin-top: 25px;
}

/* ----- FOOTER ----- */

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;


  width: 1146px;
  min-height: 85px;
  margin: 0 auto;
  margin-top: 19px;
  padding: 0 27px;
}

.main-footer a {
  font-size: 13px;
  color: #ffffff;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;

  width: 267px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 11px;
  margin-top: 18px;
  margin-bottom: 29px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button path,
.social-button path {
  fill: rgba(255, 255, 255, 0.8);
}

.social-button:hover,
.social-button:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:hover path,
.social-button:focus path {
  fill: rgba(255, 255, 255, 1);
}

.social-button:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:active path {
  fill: #e9e9e9;
}

.footer-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;
  width: 560px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 15px;
  margin-left: 107px;
}

.footer-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 8px;
}

.footer-info a {
  margin-bottom: 3px;
  padding-left: 23px;

  text-decoration: underline;
  -webkit-text-decoration-color: rgba( 255, 255, 255, 0.2);
          text-decoration-color: rgba( 255, 255, 255, 0.2);
}

.footer-info b {
  position: relative;
  font-weight: 700;
}

.footer-info b::before {
  content: "";

  position: absolute;
  bottom: 1px;
  left: -22px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-info a:hover,
.footer-info a:focus,
.footer-info a:active {
  color: #ffbc9e;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba( 255, 188, 158, 0.2);
          text-decoration-color: rgba( 255, 188, 158, 0.2);
}

.footer-copyright {
  margin: 0;
  padding: 0;
  width: 267px;
}

.footer-copyright img {
  padding-left: 79px;
}

.footer-copyright p {
  font-size: 12px;

  text-align: right;
  margin-top: 2px;
}

.footer-copyright p {
  font-size: 12px;

  text-align: right;
  margin-top: 2px;
}

.footer-copyright span {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
}

.footer-copyright span:hover,
.footer-copyright span:focus,
.footer-copyright span:active {
  color: #ffbc9e;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba( 255, 188, 158, 0.2);
          text-decoration-color: rgba( 255, 188, 158, 0.2);
}

/* ----- MODALS ----- */

.modal {
  color: #323232;

  width: 1146px;
  margin: 0 auto;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.modal input,
.modal textarea {
  font: inherit;
  font-size: 14px;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.modal input:hover,
.modal textarea:hover {
  outline: none;

  -webkit-box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);

          box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
  border-radius: 5px;
}

.modal input:focus,
.modal textarea:focus {
  outline: none;

  -webkit-box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);

          box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
  border-radius: 5px;
}


/* ----- Search modal ----- */

.modal-search {
  top: 59px;
  left: 50%;
  margin-left: 18px;

  width: 341px;
  min-height: 84px;
  margin-bottom: 20px;
  text-align: center;

  border-radius: 5px;
}

.modal-search-form p {
  margin: 0;
  padding: 0;
}

.modal-search-form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 311px;
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  padding-left: 15px;
}


/* ----- Login modal ----- */
.modal {
  position: fixed;
  display: none;
}

.modal-login {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  top: 59px;
  left: 50%;
  margin-left: 185px;
  width: 277px;
  min-height: 214px;
  margin-bottom: 20px;
  padding: 20px;

  border-radius: 5px;
}

.modal-login-form p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.modal-login-form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 241px;
  padding: 10px 15px;
}

.modal-login-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal-login-list a {
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #323232;
}

.modal-login-list a:hover,
.modal-login-list a:focus,
.modal-login-list a:active {
  color: #e84d37;
}

.modal-login-list a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -3px;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal-login-list a:hover::after,
.modal-login-list a:focus::after,
.modal-login-list a:active::after {
  background-color: rgba(236, 89, 60, 0.3);
}

.modal-login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}


/* ----- Feedback modal ----- */

.modal-feedback {
  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  top: 220px;
  left: 50%;

  width: 478px;
  min-height: 443px;
  margin-left: -240px;
  margin-bottom: 20px;
  padding: 24px;
  padding-top: 17px;

  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 18px;

  font-size: 0;
  border: 0;

  background-color: #f8f7f4;

  cursor: pointer;
}

.modal-close::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 18px;
  height: 17px;

  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-feedback p {
  margin: 0;
  padding: 0;
}

.modal-feedback > p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  margin-bottom: 20px;
}

.modal-feedback-form p {
  margin-bottom: 20px;
}

.modal-feedback-form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 267px;
  padding: 10px 15px;
}

.modal-feedback-form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 428px;
  padding: 10px 15px;
}

.feedback-button-send {
  margin-left: 290px;
}


/* --------------- CATALOG PAGE -------------- */

.catalog-page {
  color: #ffffff;
}

/* ----- CATALOG PAGE Main ----- */

.page-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;

  margin: 0;
  padding: 0;
  padding: 0 27px;
  margin-bottom: 25px;
}


/* ----- CATALOG PAGE Breadcrumbs ----- */

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;

  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  margin-top: -26px;
  padding: 0 27px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 8px;
}

.breadcrumbs a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba( 255, 188, 158, 0.2);
          text-decoration-color: rgba( 255, 188, 158, 0.2);
}

.breadcrumbs-current a,
.breadcrumbs-arrow a {
  text-decoration: none;
}

.breadcrumbs-current a:hover,
.breadcrumbs-current a:focus,
.breadcrumbs-current a:active,
.breadcrumbs-arrow a:hover,
.breadcrumbs-arrow a:focus,
.breadcrumbs-arrow a:active {
  color: #ffffff;
  text-decoration: none;
}


/* ----- CATALOG PAGE Filters section ----- */

.filters {
  margin: 0;
  padding: 0;
  padding: 0 27px;
}

.filters-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 10px;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;

  margin: 0;
  padding: 0;


  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.filter legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  margin-left: 15px;
  margin-bottom: 6px;
}

.filter-option {
  display: block;
  padding: 7px 0px 7px 46px ;
}

.filter-option:last-child:not(:first-child) {
  margin-right: 19px;
}

.filter-option:focus::before {
  -webkit-box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
}

.filter-stuffed .filter-option {
  margin-right: 9px;
}

.ice-cream-fats .filter-option {
  margin-right: 4px;
}

.ice-cream-fats .filter-option:last-child {
  margin-right: 17px;
}

.filter-option:hover,
.filter-option:focus {
  color: #323232;
}

.filter-select {
  position: relative;
  color: #ffffff;

  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 9px 33px 9px 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
    display: none;
}

.filter-select:hover {
  color: #323232;
}

.filter-select:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
}

.filter-sort .filter-option::after {
  content: "";
  position: absolute;

  top: 20px;
  left: 213px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-sort .filter-option:hover::after {
  content: "";
  position: absolute;

  top: 20px;
  left: 213px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-sort .filters-list {
  margin-left: -45px;
  margin-top: -6px;

  background-color: transparent;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-range {
  width: 219px;
}

.range-controls {
  position: relative;

  height: 20px;

  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.range-controls:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
}

.range-controls .scale {
  height: 4px;

  background-color: rgba( 248, 247, 244, 0.5);
}

.range-controls .bar {
  margin-right: 55px;
  margin-left: 24px;
  height: 4px;

  background: rgba( 248, 247, 244, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-min:hover {
  position: absolute;
  top: 6px;
  left: 33px;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 10px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
}

.range-controls .toggle-max {
  left: 134px;
}

.range-controls .toggle-max:hover {
  position: absolute;
  top: 6px;
  left: 132px;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 10px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -32px;
  top: -1px;

  width: 15px;
  height: 15px;

  border: 4px solid rgba( 255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -25px;
  top: 6px;

  width: 9px;
  height: 9px;

  background-color: rgba( 255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  top: 1px;
  left: -30px;

  width: 20px;
  height: 20px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  background-image: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 1px;
  left: -30px;

  width: 24px;
  height: 20px;


  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:hover + label::before {
  border: 4px solid rgba( 255, 255, 255, 1);
}

.filter-input-radio:checked:hover + label::after {
  background-color: rgba( 255, 255, 255, 1);
}

.filter-input-radio:disabled + label::before {
  border: 4px solid rgba( 255, 255, 255, 0.4);
}

.filter-input-radio:disabled + label::after {
  background-color: rgba( 255, 255, 255, 0.4);
}

.filter-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  margin-top: 9px;
  padding: 6px 27px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgb(255, 255, 255);
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-button:active {
  color: #323232;

  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.2);
          box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.2);
  border: none;
}


/* ----- CATALOG PAGE Catalog section ----- */

.catalog {
  margin-top: 5px;
  padding: 0 18px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;


  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 267px;
  min-height: 342px;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 7px 9px 21px 9px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:nth-child(n+5) {
  margin-top: -103px;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item a {
  color: #ffffff;
}

.catalog-item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);

  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 20px;
}

.catalog-item-price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;

  margin: 0;
  padding: 0;
  margin-top: -79px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price h3 {
  margin: 0;
  padding: 0;
}

.catalog-item-price span {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.catalog-item-price .rublsign {
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;

  margin-left: -7px;
}

.catalog-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}

.catalog-item:hover .catalog-item-button {
  visibility: visible;
}


.catalog-item-button {
  visibility: hidden;
  margin: 0 10px 21px 29px;
  padding: 10px 17px;
}

/* ----- CATALOG PAGE Pagination ----- */

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  list-style: none;

  margin: 0;
  padding: 0;
  margin-top: -47px;
  margin-bottom: 49px;
  padding-right: 51px;
}

.pagination-item {
  position: relative;
  margin-top: 10px;
  margin-left: 3px;
}

.pagination-list a {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;

  width: 26px;
  height: 21px;
  padding-top: 5px;

  border-radius: 50%;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-list li:last-child {
  content: "";

  position: absolute;
  top: 9px;
  right: 27px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination-list li:first-child {
  content: "";

  position: absolute;
  top: 9px;
  right: 210px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-left-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  -webkit-transform: rotate(180deg);

      -ms-transform: rotate(180deg);

          transform: rotate(180deg)
}

.pagination-list li:first-child a:hover,
.pagination-list li:last-child a:hover {
  background-color: transparent;
}

.pagination-item-current a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus
.pagination-item-current a:active {
  color: #323232;

  background-color: #ffffff;
}

/* линия внизу сайта*/

.pagination-list::after {
  content: "";
  display: inline-block;
  position: absolute;
  vertical-align: top;

  height: 1px;
  width: 1200px;
  bottom: -31px;
  left: 0;

  background-color: rgba(255, 255, 255, 0.3);
}


/* ----- CATALOG PAGE Cart modal ----- */

.modal-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  top: 59px;
  left: 50%;
  margin-left: 33px;
  margin-bottom: 20px;
  padding: 20px 15px;
  width: 540px;
  min-height: 242px;

  border-radius: 5px;
}

.modal-cart-list {
  display: inline-block;
  position: relative;
  vertical-align: top;
  list-style: none;

  margin: 0;
  padding: 0;
  padding-left: 28px;
}

.modal-cart-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;

  margin-bottom: 16px;
}

.modal-cart-list img {
  border-radius: 50%;

  margin-right: 12px;
}

.modal-cart-list h3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: left;

  margin: 0;
  padding: 0;
  width: 220px;
  margin-right: 26px;
  margin-top: 8px;
}

.modal-cart-list p {
  display: inline-block;
  vertical-align: top;

  margin-right: 29px;
  margin-top: 8px;
}

.modal-cart-list p:last-child {
  margin-right: 0px;
}

.modal-cart-list span {
  color: #999999;
}

.modal-cart-total {
  display: block;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-top: 17px;
}

.modal-cart-total b {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.modal-cart .modal-cart-list::after {
  content: "";
  display: inline-block;
  position: absolute;
  vertical-align: top;

  height: 1px;
  width: 510px;
  bottom: -2px;
  left: 0;

  background-color: rgba(202, 202, 199, 1);
}

.cart-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 13px;
  padding-left: 15px;
  padding-right: 15px;
}

.cart-item-delete {
  position: absolute;
  top: 10px;
  left: -22px;
  width: 11px;
  height: 11px;

  font-size: 0;
  border: 0;

  background-color: #f8f7f4;

  cursor: pointer;
}

.cart-item-delete::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 11px;
  height: 11px;

  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.user-navigation .search-link:hover ~ .modal-search {
  display: block;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
